[submodule "dofi-manager-git"]
	path = dofi-manager-git
	url = ssh://aur@aur.archlinux.org/dofi-manager-git.git
[submodule "mpv-handler-git"]
	path = mpv-handler-git
	url = ssh://aur@aur.archlinux.org/mpv-handler-git.git
[submodule "akwaita-theme-git"]
	path = akwaita-theme-git
	url = ssh://aur@aur.archlinux.org/akwaita-theme-git.git
[submodule "v2ray-domain-list-china"]
	path = v2ray-domain-list-china
	url = ssh://aur@aur.archlinux.org/v2ray-domain-list-china.git
[submodule "mpv-handler"]
	path = mpv-handler
	url = ssh://aur@aur.archlinux.org/mpv-handler.git
[submodule "dofi-manager"]
	path = dofi-manager
	url = ssh://aur@aur.archlinux.org/dofi-manager.git
