pkgbase = mihomo
	pkgdesc = Another Clash Kernel by MetaCubeX, formerly known as Clash.Meta
	pkgver = 1.19.22
	pkgrel = 1
	url = https://github.com/MetaCubeX/mihomo
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	provides = clash-meta
	conflicts = clash-meta
	backup = etc/mihomo/config.yaml
	source = mihomo-1.19.22.tar.gz::https://github.com/MetaCubeX/mihomo/archive/refs/tags/v1.19.22.tar.gz
	source = mihomo.service
	source = mihomo@.service
	source = config.yaml
	sha256sums = 65a0979c8223608808167dddb39571676e8ca5d907c20f57244aae1d595387c4
	sha256sums = 5f243e40d0b6d3d0ae999b28593d5224f1c90cead82e2aacb7b54ff1a7f48214
	sha256sums = e7a418858d16c92143051e3e9fa3bd63247931000cbf0d945fdf0a3785f5de06
	sha256sums = 90f7fdacecd5928e37865b4f841517f925c8bedc769f16f7a7a1e89b923f1fb9

pkgname = mihomo
