pkgbase = mihomo
	pkgdesc = Another Clash Kernel by MetaCubeX, formerly known as Clash.Meta
	pkgver = 1.19.27
	pkgrel = 1
	url = https://github.com/MetaCubeX/mihomo
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	provides = clash-meta
	conflicts = clash-meta
	backup = etc/mihomo/config.yaml
	source = mihomo-1.19.27.tar.gz::https://github.com/MetaCubeX/mihomo/archive/refs/tags/v1.19.27.tar.gz
	source = mihomo.service
	source = mihomo@.service
	source = config.yaml
	sha256sums = 5d90ebe9057b2d996ba4bae237f4a277101d72a923117b4ae0dd97d0c7dc584f
	sha256sums = 3eea53645fad3bd42527d67b21d4a9bf1a3e6be44419eb6391870bff53c0e359
	sha256sums = e0ed75022fd8567f9a97932ed05a84a65f548e0629389c9fb6873c94bea0a57d
	sha256sums = 90f7fdacecd5928e37865b4f841517f925c8bedc769f16f7a7a1e89b923f1fb9

pkgname = mihomo
